@{
    ViewData["Title"] = "Inicio";
}

<div class="row">
    <div class="offset-3 col-3">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Empleados</div>
            <div class="card-body text-secondary text-center">
                <h5 class="card-title">Gestionar empleados</h5>
                <p class="card-text">Este apartado es para listar, crear, editar y eliminar empleados.</p>
                <a class="btn btn-primary" asp-controller="Employee" asp-action="Index">Ver listado</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Planillas</div>
            <div class="card-body text-secondary text-center">
                <h5 class="card-title">Gestionar planillas</h5>
                <p class="card-text">Este apartado es para listar, crear, editar y eliminar planillas de sueldos y salarios.</p>
                <a class="btn btn-primary" asp-controller="Payroll" asp-action="Index">Ver listado</a>
            </div>
        </div>
    </div>
</div>